// Définition des variables
$color-white: #ffffff; 
$color-green: #B2D234;
$font-poppins: 'Poppins', sans-serif; // Police de caractères
$color-green-transparent: rgba(#B2D234, 0.7);
$color-blue-transparent: rgba(#60A0D8, 0.7);
